@page "/customers/{id:int}"
@inject IAsyncCustomerService Api
@inject IAsyncRegionService RegionApi

<h3>Edit</h3>

Id = @Id

@if (customer is null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <EditForm Model="@customer" FormName="CustomerForm">
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Nazwa" @bind-Value=@customer.Name For="@(()=>customer.Name)" />
                        <MudTextField Label="Email" @bind-Value=@customer.Email For="@(() => customer.Email)" />
                        <MudCheckBox Label="Archiwalny" @bind-Value=@customer.IsArchived Color="Color.Primary" />

                        <MudSelect T="Region" Label="Region" @bind-Value=@customer.Region>
                            @foreach(var region in regions!)
                            {
                                <MudSelectItem Value="region">@region.Name</MudSelectItem>
                            }
                        </MudSelect>

                        <MudTextField Label="Kod klienta" @bind-Value=@customer.Code For="@(() => customer.Code)" />
                        <MudDatePicker Label="Data urodzenia" @bind-Date=@customer.Birthday For="@(()=>customer.Birthday)" />
                        <MudNumericField Label="Dochód" @bind-Value=@customer.Salary For="@(()=>customer.Salary)" />


                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Customer? customer;

    private List<Region>? regions;

    protected override async Task OnInitializedAsync()
    {
        regions = await RegionApi.GetAll();        
    }

    protected override async Task OnParametersSetAsync()
    {
        customer = await Api.GetById(Id);
    }

}
