@page "/customers"
@using Domain.Models

<h3>List Customers</h3>

<p>@message</p>

<p>@GetCurrentDate()</p>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.Id @customer.Name @customer.Email</li>
    }
</ul>


@code {

    private string message = "Lorem ipsum...";

    private List<Customer> customers = [];

    private DateTime GetCurrentDate()
    {
        return DateTime.Now;
    }

    protected override void OnInitialized()
    {
        customers = new List<Customer>
        {
            new Customer { Id =1, Name = "a", Email = "a@domain.com"},
            new Customer { Id =2, Name = "b", Email = "b@domain.com"},
            new Customer { Id =3, Name = "c", Email = "c@domain.com"},
        };
    }

}