@using Domain.Models

<ItemsTable Items="@Products" >
    <HeaderTemplate>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th>UnitPrice</th>
        </tr>
    </HeaderTemplate>
    <RowTemplate>
        <tr>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>@context.Description</td>
            <td>@context.Color</td>
            <td>@context.UnitPrice</td>
        </tr>
    </RowTemplate>
</ItemsTable>

@code {

    [Parameter]
    public List<Product> Products { get; set; }

}
